# Ignorar pastas nativas geradas pelo Prebuild
/android
/ios

# Restante das suas regras (mantenha o que já existe)
*.log
*.tmp
*.bak
.DS_Store
node_modules/
dist/
build/
.expo/
*.apk
*.aab
.vscode/
.idea/
*.code-workspace
.cache/
.gradle/
.m2/
.nuget/
AppData/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
Downloads/
Documents/
Videos/
Music/
OneDrive/
Favorites/
Links/
Searches/
Saved Games/
!.gitignore
!App.tsx
!app.json
!assets/
!index.ts
!package-lock.json
!package.json
!src/
!tsconfig.json
!eas.json
/android
/ios
android/.gradle/
android/app/build/
android/build/
